.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.modal-buttons {
  margin-top: 20px;
}

.confirm-button,
.cancel-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.confirm-button {
  background-color: red;
  color: white;
}

.cancel-button {
  background-color: grey;
  color: white;
}
